# .env.local  (al lado de package.json)
NEXT_PUBLIC_SUPABASE_URL=https://vqkjvavfweaqdildfjmm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZxa2p2YXZmd2VhcWRpbGRmam1tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgxMjA2MzksImV4cCI6MjA3MzY5NjYzOX0.Qd4Nh4n-G-ZUeN1OXDGMgPYKMuE8L6zvDgTCe7w0cCI
